/* reset page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
image {
  width: 100%;
} */

body {
  background-image: linear-gradient(to right, #9ab0df, #c5e1f3);
  color: #002d80;
  font-family: "Rampart One", cursive;
  overflow: hidden;
}

.sr-only {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  white-space: nowrap;
}

.btn {
  border: none;
  border-radius: 35px;
  width: 350px;
  height: 70px;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  background-color: #002d80;
  color: #fff;
  transition: all 0.07s;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #fff;
  color: #002d80;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 24px 0;
}

.page-content {
  text-align: center;
  margin-top: 60px;
}

h1 {
  font-size: 100px;
  text-align: center;
}

.page-btn {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: none;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #fff388;
  cursor: pointer;
  margin: 24px;
}

.page-btn::before {
  font-family: "Rampart One", cursive;
  position: relative;
  top: -150px;
  font-size: 36px;
  display: inline-block;
  width: 200px;
  height: 60px;
  border-radius: 1em;
  background-color: #fff;
  color: #002d80;
  transition: all 0.1s;
}

.page-btn:hover {
  background-color: #9198e5;
  transform: scale(1.02);
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.3);
}

.btn-rock {
  background-image: url("./assets/images/rock.png");
}

.btn-rock::before {
  content: "Rock";
}

.btn-paper {
  background-image: url("./assets/images/paper.png");
}

.btn-paper::before {
  content: "Paper";
}

.btn-scissors {
  background-image: url("./assets/images/scissor.png");
}

.btn-scissors::before {
  content: "Scissors";
}

.page-score {
  display: flex;
  font-size: 100px;
  align-items: center;
}

.page-score div {
  margin: auto 200px;
  background-color: #fff;
  border-radius: 1em;
  padding: 0 50px;
  font-size: 72px;
}

.page-2-images {
  display: flex;
  height: 450px;
}

.page-2-images div {
  flex: 1 1 33%;
}

.page-2-tags {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.page-winner-tag {
  background-color: #fff;
  border-radius: 30px;
  width: 240px;
  height: 60px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
}

.bot-image {
  transform: scaleX(-1);
}

.page-3 .page-score {
  margin: 60px auto;
}

.page-score div {
  background-color: #fff388;
}
